<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bridges&CO</title>
</head>
<body style="background: linear-gradient(to right, #ee7724, #c0fa0d, #bedd36, #b44593)">
<div th:insert="Header/header :: headerStorager"></div>
<div class="card-body text-center card shadow-2-strong justify-content-center align-items-center">
    <h1>Добро пожаловать</h1>
</div>
<form method="get" th:action="'/Storager/metrics'">
    <figure class="figure">
        <button class="figure-img img-fluid rounded" type="submit"><h1>Динамика поступления товаров</h1></button>
    </figure>
</form>
</body>
</html>