<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bridges&CO</title>
</head>
<body style="background: linear-gradient(to right, #ee7724, #c0fa0d, #bedd36, #b44593)">
<div th:insert="Header/header :: headerAdmin"></div>
<div class="card-body text-center card shadow-2-strong justify-content-center align-items-center">
    <h1>Добро пожаловать</h1>

</div>
<div class="card-body text-center card shadow-2-strong justify-content-center align-items-center">



    <form method="get" th:action="'/Admin/exportusers'">
        <figure class="figure">
    <button class="figure-img img-fluid rounded" type="submit" ><h1>Экспортировать таблицу пользователей</h1></button>
</figure>
    </form>

<form method="get" th:action="'/Admin/exportshipments'">
<figure class="figure">
    <button class="figure-img img-fluid rounded" type="submit"><h1>Экспортировать таблицу товаров</h1></button>
</figure>
</form>

    <form method="get" th:action="'/Admin/exportsuppliers'">
        <figure class="figure">
            <button class="figure-img img-fluid rounded" type="submit"><h1>Экспортировать таблицу поставщиков</h1></button>
        </figure>
    </form>


    <form method="get" th:action="'/Admin/backup'">
        <figure class="figure">
            <button class="figure-img img-fluid rounded" type="submit"><h1>Бэкап базы данных</h1></button>
        </figure>
    </form>
</div>
</body>
</html>